*{
    padding:0;
    margin:0;
    color:#000000;
    
}

html, body{
    background-color: #fff3eb;
    text-align: center;
    
}

.cabecera{
    border:5px solid #001F29;
    border-radius: 0px;
    margin: 0rem ;
    background-color: #001F29;
    text-align: right;
}
#agrupar {
    background-color: #fff3eb; 
    padding: 1rem; 
    text-align: center;
    

}

#menup { 
    background-color: #fff3eb; 
    padding: 2rem; 
    text-align: center;
} 
#menup li { 
    display: inline-block; 
    list-style: none; 
    padding: 5px; 
    font: bold 14px verdana, sans-serif; 
    
}

.actividades{
    border: 0px solid #2e5856;
    margin: 0rem;
    border-radius: 0px;
    padding: 0rem;
    background-color: #2e5856; 
    
}


.main-extra{
    border: 0px solid #f4dbd9;
    margin: 0rem;
    border-radius: 0px;
    padding: 0rem;
    background-color: #f4dbd9; 
    height: auto;
    display: block; 
    text-align: center;
}

.main-extra article {
   
    padding: 20px;
    margin-bottom: 15px;
    width:30%;
    display: inline-table;
    border-radius: 8px;
    height: 200px;
}
.pies{
    
    border: 0px solid #ffff;
    margin: 0rem;
    border-radius: 0px;
    padding: 0rem;
    background-color: #001f29; 
    height: auto;
    display: block; 
    text-align: center;

}
